@model OnlineShop.ViewModels.ProizvodViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/AccountStyles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
<div class="spacing"></div>

<h4 class="text-info text-center"> @TempData["signout"] </h4>

<!-------------------------------------------------------------------------------------------------->


@if (Model.proizvodi != null && Model.proizvodi.Count >= 9)
{
    <h4 class="text-dark"> Izdvojeni artikli </h4>
    <hr />
  

    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="background-color: white;">

            @for (int i = 0; i < 3; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <div class="row">
                            @for (int j = 0; j < 3; j++)
                            {
                                <div class="col-md-4">
                                    <div class="index-card">
                                        <img class="" src="@Model.proizvodi.ElementAt(count).imageLocation" height="150" />
                                        <div class="">
                                            <h4 class="text-h4"> @Model.proizvodi.ElementAt(count).NazivProizvoda </h4>
                                            <p class="text">
                                                @Model.proizvodi.ElementAt(count).OpisProizvoda
                                            </p>
                                        </div>
                                        <div class="divex"> <a class="btn btn-outline-light">Pogledaj detaljno</a> </div>
                                        @if (@Model.proizvodi.ElementAt(count++).snizen)
                                        {
                                            <p class="text-center text-danger"> Proizvod snižen! </p>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <div class="row">
                            @for (int j = 0; j < 3; j++)
                            {
                                <div class="col-md-4">
                                    <div class="index-card">
                                        <img class="" src="@Model.proizvodi.ElementAt(count).imageLocation" height="150" />
                                        <div class="">
                                            <h4 class="text-h4"> @Model.proizvodi.ElementAt(count).NazivProizvoda </h4>
                                            <p class="text">
                                                @Model.proizvodi.ElementAt(count).OpisProizvoda
                                            </p>
                                        </div>
                                        <div class="divex"> <a class="btn btn-outline-light">Pogledaj detaljno</a> </div>
                                        @if (@Model.proizvodi.ElementAt(count++).snizen)
                                        {
                                            <p class="text-center text-danger"> Proizvod snižen! </p>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

        </div>
    </div>
}

<br />
<br />
<hr />

<!-------------------------------------------------------------------------------------------------->


<div class="row">
    <div class="col-sm-4">
        <div class="info-card">
            <img src="~/icons/iconfinder_location_1055034.png" width="62" height="62" />
            <div>
                <a href="/content/17-poslovnice">NAŠE POSLOVNICE</a>
                <p> Dođite u najbližu poslovnicu ili nas pozovite putem besplatnog broja. <br /> <a href="tel:061550134"> 061/550-134 </a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="info-card">
            <img src="~/icons/catalog_icon.png" width="62" height="62" />
            <div>
                <a href="https://e.issuu.com/embed.html?d=lowres&amp;u=imtec.computers">KATALOG</a>
                <p> Omogućili smo pregled narudžbi i raznih artikala bez potrebe dolaska u poslovnicu u samo par klikova! </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="info-card">
            <img src="~/icons/iconfinder_Bright_idea_lightbulb_solution_bulb_1886494.png" width="62" height="62" />
            <div>
                <a href="http://solutions.imtec.ba/">SLOŽENA RJEŠENJA</a>
                <p> Za složena IT rjesenja i bilo kakva pitanja pozovite naš broj ili pošaljite mail na <a href="mailto:prodaja@itoprema.ba">prodaja@itoprema.ba</a> </p>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('.text').each(function (f) {
            var newstr = $(this).text().substring(0, 200);
            $(this).text(newstr);
        });
    });

</script>