@model ReflectionIT.Mvc.Paging.PagingList<OnlineShop.Model.Models.Oglas>
@using ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, ReflectionIT.Mvc.Paging
}

<style>
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
</style>

<link rel="stylesheet" href="~/css/OglasLayout.css" asp-append-version="true" />

<div class="not-layout">
    <div id="container" class="modal-box">

    </div>
    <h4 class="text-center title is-4"> Oglasi </h4>
    <table style="width: 80%; margin: auto;" class="table">
        <thead>
            <tr>
                <th style="width: 20px"> Naslov </th>
                <th style="width: 15px"> Pozicija </th>
                <th style="width: 25px"> Lokacija </th>
                <th style="width: 25px"> Datum objave </th>
                <th style="width: 25px"> Datum isteka </th>
                <th style="width: 15px"> Aktivan </th>
                <th style="width: 40px"> Akcije </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naslov)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojPozicija)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lokacija)
                    </td>
                    <td>
                        @item.DatumObjave.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.DatumIsteka.ToString("dd/MM/yyyy")

                    </td>
                    @if (item.Aktivan)
                    {
                        <td> Da </td>
                    }
                    else
                    {
                        <td> Ne </td>
                    }
                    <td style="display:flex; flex-direction: row; justify-content:space-between">
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Uredi"> <i class="fas fa-pen uredi" style="text-decoration:none"></i> </a>
                        <a asp-action="Details" asp-route-id="@item.Id" style="color:green" title="Detaljno"> <i class="fas fa-info-circle det"></i> </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" style="color:darkred" title="Obriši"> <i class="fas fa-trash ukloni"></i> </a>
                        <a name="@item.Id" class="prijave" title="Pogledaj prijave" style="color: darkcyan;"> <i class="far fa-eye"></i> <span style="margin-bottom: 3px; font-size: xx-small">Prijave</span> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Oglas Paging">
        <vc:pager paging-list="@Model" />
    </nav>
    <hr />

    <a style="margin-left: 10%;" class="button is-primary" asp-controller="Oglas" asp-action="Create">
        <span style="margin-right: 8px;"><i class="fas fa-plus"></i></span>
        <span> Novi oglas </span>
    </a>

</div>

<script>
    var prijave = document.getElementsByClassName('prijave');
    for (let i = 0; i < prijave.length; i++) {
        prijave[i].onclick = () => {
            $.get('/Administrator/Oglas/GetPrijave?oglasId='.concat(prijave[i].getAttribute('name')), (result) => {
                $('#container').html(result);
                $("#container").fadeIn(100);
            })
        };
    };
</script>