@model ClassLibrary.Models.Oglas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

}

<link rel="stylesheet" href="~/css/OglasLayout.css" asp-append-version="true" />
<div id="start">
    <h1>Details</h1>

    <div>
        <h4>Oglas</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Naslov:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Naslov)
            </dd>
            <dt class="col-sm-2">
                Sadržaj:
            </dt>
            <dd class="col-sm-10" style="white-space: pre-line" id="sadrzaj"> @Model.Sadrzaj </dd>
            <dt class="col-sm-2">
                Broj pozicija:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BrojPozicija)
            </dd>
            <dt class="col-sm-2">
                Lokacija:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lokacija)
            </dd>
            <dt class="col-sm-2">
                Objavljeno:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DatumObjave)
            </dd>
            <dt class="col-sm-2">
                Trajanje:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trajanje)
            </dd>
            <dt class="col-sm-2">
                Datum isteka:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DatumIsteka)
            </dd>
            <dt class="col-sm-2">
                Aktivan:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Aktivan)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id"> Uredi </a> |
        <a asp-action="Index">Nazad</a>
    </div>
</div>

<script>
    var sadrzaj = document.getElementById("sadrzaj");
    sadrzaj.innerHTML = sadrzaj.textContent.replace("\"", "");
</script>