@model List<OnlineShop.ViewModels.CartViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.AspNetCore.Identity
@inject UserManager<ClassLibrary.Models.AppUser> userManager

<link rel="stylesheet" href="~/css/CartPartialView.css" />
<div id="container">
    <h4 class="text-center title is-4"> Artikli u korpi </h4>
    <div id="scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>Naziv proizvoda</th>
                    <th>Cijena</th>
                    <th>Na stanju</th>
                    <th>Kategorija</th>
                    <th>Snizen</th>
                    <th>Naručeno</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Proizvod.NazivProizvoda</td>
                        <td>@product.Proizvod.Cijena</td>
                        <td>@product.Proizvod.Kolicina</td>
                        <td>@product.Proizvod.kategorija.NazivKategorije</td>
                        <td>@product.Proizvod.snizen</td>
                        <td>@product.Kolicina</td>
                        <td>
                            <button class="button is-danger is-light" id="ukloni-btn"
                                    onclick="Remove(@product.Proizvod.ProizvodID)">
                                Ukloni
                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <div id="buttons">
        <button class="button is-success" id="potvrdibtn" onclick="ConfirmOrder()">
            Potvrdi
        </button>
        <p>Ukupna cijena: <b> @Math.Round(ViewBag.Ukupno, 2) KM </b></p>
        <a class="button is-danger is-right" id="zatvoribtn"> Zatvori </a>
    </div>
    <p style="font-size: 15px;padding-top: 5px; color: forestgreen"> *Narudžba će biti evidentirana nakon što pritisnete dugme "Potvrdi". </p>

</div>

<script>

    if (localStorage.length == 0)
        $("#potvrdibtn").prop("disabled", true);

    $("#zatvoribtn").click(function () {
        $("#cart-preview").css("visibility", "hidden");
    });

    function Remove(id) {
        localStorage.removeItem(id);

        $.post("/Korisnik/Cart/Index", { "data": JSON.stringify(localStorage) },
            function (result) {
                $("#cart-preview").html(result);
            }
        );
    }

    function ConfirmOrder() {
        $.post("/Korisnik/Cart/Confirm", { "data": JSON.stringify(localStorage), "userId": @userManager.GetUserId(User) },
            function (result) {
                // TODO: Izbaciti popup da je narudzba evidentirana

                toastr["success"]("Uspješno ste evidentirali narudžbu. Možete nastaviti sa kupovinom!", "Narudžba evidentirana")

                localStorage.clear();
                $.post("/Korisnik/Cart/Index", { "data": JSON.stringify(localStorage) },
                    function (result) {
                        $("#cart-preview").html(result);
                    }
                );
            }
        );
    }
</script>