@model OnlineShop.ViewModels.EditViewModel
@{
    ViewData["Title"] = "EditProizvod";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<br />
<br />
<br />

<h2 style="text-align:center; margin-top: 33px;">Uređivanje proizvoda</h2>

<form asp-controller="Proizvod" asp-action="EditujProizvod" enctype="multipart/form-data">
    <div class="form-group">

        <input asp-for="staraCijena" type="hidden" value="@Model.staraCijena" />
        <input asp-for="proizvodEdit.ProizvodID" type="hidden" value="@Model.proizvodEdit.ProizvodID" />

        <label asp-for="proizvodEdit.NazivProizvoda"> Naziv proizvoda: </label>
        <input id="inp" type="text" asp-for="proizvodEdit.NazivProizvoda" class="form-control" value="@Model.proizvodEdit.NazivProizvoda" placeholder="@Model.proizvodEdit.NazivProizvoda" />

        <label asp-for="proizvodEdit.Cijena"> Cijena proizvoda: </label>
        <input id="inp" type="number" step="any" asp-for="proizvodEdit.Cijena" class="form-control" value="@Model.proizvodEdit.Cijena" placeholder="@Model.proizvodEdit.Cijena" />

        <label asp-for="proizvodEdit.Kolicina"> Količina: </label>
        <input id="inp" type="number" asp-for="proizvodEdit.Kolicina" class="form-control" value="@Model.proizvodEdit.Kolicina" placeholder="@Model.proizvodEdit.Kolicina" />

        <label asp-for="proizvodEdit.OpisProizvoda"> Detaljan opis: </label>
        <textarea id="inpwide" type="text" asp-for="proizvodEdit.OpisProizvoda" class="form-control">@Model.proizvodEdit.OpisProizvoda</textarea>

        <label asp-for="proizvodEdit.kategorijaId"> Odaberite kategoriju: </label>
        <select class="form-control" asp-for="proizvodEdit.kategorijaId">
            @foreach (var kategorija in Model.kategorije)
            {
                @if (kategorija == Model.proizvodEdit.kategorija)
                {
                    <option value="@kategorija.KategorijaID" selected> @kategorija.NazivKategorije </option>
                }
                else
                {
                    <option value="@kategorija.KategorijaID"> @kategorija.NazivKategorije </option>
                }
            }
        </select>

        <label asp-for="proizvodEdit.uvoznikId"> Odaberite uvoznika: </label>
        <select class="form-control" asp-for="proizvodEdit.uvoznikId">
            @foreach (var uvoznik in Model.uvoznici)
            {
                if (uvoznik == Model.proizvodEdit.uvoznik)
                {
                    <option value="@uvoznik.UvoznikID" selected> @uvoznik.NazivUvoznika </option>
                }
                else
                {
                    <option value="@uvoznik.UvoznikID"> @uvoznik.NazivUvoznika </option>
                }
            }
        </select>
        <br />
        <label asp-for="slikaProizvoda"> Odaberite novu sliku proizvoda: </label>
        <input class="form-control-file" type="file" accept="image/*" name="SlikaProizvoda" asp-for="slikaProizvoda">

        <br />
        <div style="text-align: center;">
            <button type="submit" class="button btn btn-success">Spasi promjene</button>
        </div>
    </div>
</form>