@model ReflectionIT.Mvc.Paging.PagingList<ClassLibrary.Models.Proizvod>
@using ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, ReflectionIT.Mvc.Paging
}

<style>
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
</style>

<div class="not-layout">
    <h4 class="text-center title is-4"> Lista proizvoda </h4>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Cijena</th>
            <th>Količina</th>
            <th>Kategorija</th>
            <th>Proizvođač</th>
            <th>Uvoznik</th>
            <th>Akcija</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td> <b> @x.ProizvodID </b> </td>
                <td style="color:darkcyan"> @x.NazivProizvoda </td>
                <td> @String.Format("{0:0.00}", @x.Cijena) KM </td>
                <td> @x.Kolicina </td>
                <td> @x.kategorija.NazivKategorije </td>
                <td> @x.Proizvodjac.NazivProizvodjaca </td>
                <td> @x.uvoznik.NazivUvoznika </td>

                <td>
                    <div class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <!-- Any other Bulma elements you want -->
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                    <a asp-controller="Proizvod" asp-action="Detaljno" asp-route-id="@x.ProizvodID" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Detaljno"><i style="color:white" class="fas fa-info-circle"></i></a>
                    <a asp-controller="Proizvod" asp-action="EditRedirect" asp-route-id="@x.ProizvodID" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Modifikuj"><i style="color:white" class="far fa-edit"></i></a>
                    <a asp-controller="Proizvod" asp-action="UkloniProizvod" asp-route-id="@x.ProizvodID" class="button is-danger" data-toggle="tooltip" data-placement="bottom" title="Ukloni"><i style="color:white" class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <nav aria-label="Proizvod Paging">
        <vc:pager paging-list="@Model"/>
    </nav>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

</script>